* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr 1fr;
}

.nav-title {
    display: flex;
}

.nav-container {
    /* border: 2px solid blue; */
    background-color: aquamarine;
    grid-column: 1;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link-list-container {
    /* border: 2px solid blue; */
    width: 175px;
    line-height: 2rem;
}


.header-container {
    /* border: 2px solid green; */
    background-color: greenyellow;
    grid-column: 2;
    grid-row: 1;
}

.header-row-1 {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.header-row-1 #search {
    flex: 1;
    height: 26px;
}

.header-icon {
    font-size: 50px;
}

.header-row-2 {
    display: flex;
    padding: 10px;
}

.header-row-2 .header-button {
    display: flex;
    margin-left: auto;
    gap: 10px;
}

.main-container {
    /* border: 2px solid red; */
    background-color: orange;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.project-card-container {
    /* border: 1px solid white; */
    grid-column: 1;
    grid-row: 1 / 3;
    padding: 12px;
}

.project-cards {
    /* border: 1px solid black; */
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(50px, 100px));
    grid-template-rows: 1fr 1fr;
    padding-top: 5px;
}

.project-name {
    font-weight: bold;
}

.project-cards > li {
    border: 1px solid black;
    grid-column: 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    padding: 5px;
}

.announcements-container {
    grid-column: 2;
    grid-row: 1;
    padding: 12px;
}

.announcement-title {
    font-weight: bold;
}

.announcement-item-titles {
    font-weight: bold;
}

.announcement-items {
    border: 1px solid black;
    padding: 5px;
}

.trending-container {
    grid-column: 2;
    grid-row: 2;
    padding: 12px;
}

.trending-container-title {
    font-weight: bold;
}

.trending-items {
    border: 1px solid black;
    padding: 5px;
}

.trending-item-name {
    font-weight: bold;
}

.footer {
    background-color: black;
    grid-column: 1 / 3;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 65px;
}

.footer p {
    color: white;
}

li {
    list-style: none;
}