* {
    margin: 0;
    padding: 0;
}

.sidenav-container {
    border: 2px solid blue;
    background-color: aquamarine;
}

.header-container {
    border: 2px solid green;
    background-color: greenyellow;
}

.main-container {
    border: 2px solid red;
    background-color: orange;
}

.footer {
    border: 2px solid black;
    background-color: gray;
}